
body {
	background: #2d3a3a;
	color: #fff;
	font-weight: bold;
}

footer, .bg-background-dark {
	background: #c86b52 !important;
	color: #fff;
	font-weight: bold;
}

input, button {
	border-radius: 8px;
	padding: 8px;
	border: 2px solid #fff;
	color: #c86b52;
	font-weight: bold;
	background: #fff;
	transition: background 0.2s, color 0.2s;
}
button:hover {
	background: #c86b52;
	color: #fff;
}
}
